/* useful for dev purposes, remove when done */
/* * {
    outline: 1px solid red;
} */

/* removes annoying default margins of paragraphs */
p {
    margin: 0px;
}
/* buttons are inline-block by default, which causes some problems with certain buttons */
button {
    display: block;
}


/* general shape of app (sidebar + main content) */
html, body {
    /* this just makes sure the body fills the entire screen vertically */
    margin: 0px;
    height: 100%;
}
body {
    display: flex;
}
#sidebar {
    padding: 10px;
    width: 20%;
}
#content {
    padding: 10px;
    width: 80%;
}


/* sidebar */
#sidebar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: aliceblue;

    display: flex;
    flex-direction: column;
}
/* sidebar contents */
#sidebar > * {
    margin-bottom: 20px;
}

/* sidebar top section */
#sidebar-top {
    display: flex;
    justify-content: center;
    gap: 40px;

    /* makes underline under this div */
    padding-bottom: 4px;
    box-shadow: 0 1px 0 lightgray;
}
#top-title {
    font-size: 30px;
}
#create-project-btn {
    font-size: 26px;
    /* border: 1px solid gray; */
    width: 40px;
    color: inherit;
    background-color: inherit;
	border: none;
	cursor: pointer;
}

/* sidebar projects section */
#projects {
    display: flex;
    flex-direction: column;
}
/* individual project tabs */
.project-tab {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
    /* if a project title is too long, hides it */
    overflow: hidden;

    /* outline: 1px solid lightgray; */
    box-shadow: 0 0 3px gray;
}
.project-btn, .delete-project-btn {
    font-size: 16px;

    /* background: none; */
	color: inherit;
	border: none;
	cursor: pointer;

    /* margin-right: auto; */
}
.delete-project-btn {
    background: red;
    color: white;
    width: 10%;
}
.project-btn {
    background: none;
    text-wrap: wrap;
    /* this is supposed to text wrap singular words that are too long, but doesn't seem to work */
    overflow-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}



/* main content */
#content {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
#project-details-div {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
}
#project-details-div > *:not(:last-child) {
    margin-bottom: 10px;
    box-shadow: 0 1px 0 lightgray;
}
#project-title {
    font-size: 30px;
}
#project-description {
    font-size: 22px;
}
#project-edit-btn {
    margin-bottom: 10px;
}

#add-todo-div {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 2px gray;
}
#add-todo-btn {
    /* font-size: 14px; */
    /* width: min-content; */
}
#add-todo-div > *:not(:last-child) {
    margin-bottom: 4px;
}

#todo-list-div {
    box-shadow: 0 0 2px gray;
    padding: 10px;
}
.todo-div {
    font-size: 18px;
    margin-bottom: 20px;

    box-shadow: 0 0 1px gray;
    padding: 10px;
}
.todo-div > *:not(:last-child) {
    box-shadow: 0 1px 0 lightgray;
    margin-bottom: 6px;
}
.todo-title {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.todo-edit-btn, .todo-delete-btn {
    border: none;
	cursor: pointer;
	outline: inherit;

    padding: 4px;
}
.todo-edit-btn {
    background: rgb(78, 78, 78);
    color: white;
}
.todo-delete-btn {
    background: red;
    color: white;
}
