* {
    outline: 1px solid red;
}


/* general shape of app (sidebar + main content) */
html, body {
    /* this just makes sure the body fills the entire screen vertically */
    margin: 0px;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#sidebar {
    padding: 10px;
}
#content {
    padding: 10px;
}


/* sidebar */
#sidebar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: aliceblue;

    display: flex;
    flex-direction: column;
}
/* sidebar contents */
#sidebar > * {
    margin-bottom: 20px;
}

/* sidebar top section */
#sidebar-top {
    display: flex;
    justify-content: center;
    gap: 16px;
}
#top-title {
    font-size: 30px;
}
#create-project-btn {
    font-size: 24px;
    border: 1px solid gray;
    width: 36px;
    height: 36px;
}

/* sidebar projects section */
#projects {
    display: flex;
    flex-direction: column;
}
/* individual project tabs */
.project-tab {
    font-size: 16px;

    background: none;
	color: inherit;
	border: none;
	/* padding: 0; */
	/* font: inherit; */
	cursor: pointer;
	outline: inherit;

    margin-bottom: 20px;
}


/* main content */
#content {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
#content > * {
    
}
#content > .project-title {
    font-size: 30px;
    margin-bottom: 20px;
}
#content > .project-description {
    font-size: 22px;
    margin-bottom: 30px;
}
#content > .project-todo {
    font-size: 18px;
    margin-bottom: 20px;
}
