* {
    outline: 1px solid red;
}


/* general shape of app (sidebar + main content) */
html, body {
    /* this just makes sure the body fills the entire screen vertically */
    margin: 0px;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#sidebar {
    padding: 10px;
}
#content {
    padding: 10px;
}


/* sidebar */
#sidebar {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
#sidebar > * {

}

/* project tabs */
.project-tab {
    background: none;
	color: inherit;
	border: none;
	/* padding: 0; */
	/* font: inherit; */
	cursor: pointer;
	outline: inherit;
}


/* main content */
#content {
    display: flex;
    flex-direction: column;
}
#content > * {

}
